
  <div class="primary">
    <header>
      <h1>余果，腾讯ISUX前端开发设计师。
      </h1>
      <nav>
        <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/about/">关于我</a>
        </li>
        </ul>
      </nav>
    </header>

	<div class="ads">

        <h2>Categories</h2>
      <ul class="tag-box inline">
          {% assign categories_list = site.categories %}
          {% include JB/categories_list %}
      </ul>
      
      <div class="fusionads">
        <h2>我的书</h2>

        <span class="fusionentire">
          <a href="/weblog/full-stack-engineer/" title="Web工程师的自我修养">
            <img src="/files/common/full-stack-engineer-thumb.jpg" alt="Web工程师的自我修养"/>
          </a>
          <span class="fusiontext">
                我想聊聊全栈工程师的历史、所需技能、未来发展方向等话题。于是有了这本书。
          </span>
        </span>
        <p><a href="/weblog/full-stack-engineer/" title="Web工程师的自我修养">介绍</a> | <a href="http://item.jd.com/11754085.html" target="_blank">JD购买地址&gt;&gt;</a></p>

        <span class="fusionentire">
          <a href="weblog/isux-and-smashing-book/" title="众妙之门3">
            <img src="/files/common/smashing-book.png" alt="众妙之门3"/>
          </a>
          <span class="fusiontext">
                《众妙之门3》是一本关于HTML5、CSS3、新JS API、Retina屏、Web App、基于Responsive Design的工作流……的设计书，是《Smashing Book #3 Redesign The Web》的中文译本。
          </span>
        </span>
        <p><a href="http://yuguo.us/weblog/isux-and-smashing-book/" title="众妙之门3">介绍</a> | <a href="http://product.dangdang.com/product.aspx?product_id=23212058" target="_blank">当当购买</a></p>

        
      </div><!-- .fusionads -->

      <div class="fusionads">
        <h2>我的公众号：Yuguo</h2>
        
        <span class="fusionentire">
            <img src="/files/common/qrcode.jpg" style="width:129px">
        </span>
      </div>
      
    </div><!-- .ads -->

  </div><!-- .primary -->